@use '../abstract/index' as *;

.body--lock {
  overflow: hidden;
}

.burger {
  height: 100dvh;
  width: 100vw;
  position: fixed;
  background: #000;
  z-index: 10;
  padding: 15px 15px calc(60px + env(safe-area-inset-bottom)) 20px;
  overflow: hidden;
  overflow-y: scroll;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  pointer-events: none;
  visibility: hidden;

  &.active {
    transform: translateX(0);
    pointer-events: auto;
    visibility: visible;
  }
}

.burger__cross {
  display: block;
  margin-left: auto;
  filter: brightness(0) invert(1);
  margin-bottom: 50px;
}

.burger__logo {
  margin-bottom: 110px;
}

.burger__navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  color: $color-white;
  @include font($size: 2rem, $height: 2rem, $weight: 400);
}

.burger__contacts {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 200px;
}
