@use '../abstract/index' as *;

.insights {
  color: $color-white;
}

.insights__header {
  display: flex;
  justify-content: space-between;
  padding: 35px 25px;
  p {
    @include font($size: 3.5rem, $height: 126%, $weight: 400);
    letter-spacing: -1px;
    @include media-tablet-sm {
      @include font($size: 2rem, $height: 126%, $weight: 400);
      display: flex;
      flex-direction: column;
    }
  }
}

.insights__title {
  :last-child {
    color: #8b8f94;
  }
}

.insights__controls {
  display: flex;
  gap: 20px;
  @include media-tablet-lg {
    div {
      width: 37px;
      height: 37px;
      img {
        width: 11px;
        height: 11px;
      }
    }
  }
}

.insights__swiper-wrapper {
  padding: 0 20px 60px;
}

.insights__swiper-slide {
  height: 750px !important;
  overflow: hidden;
  width: 100%;
  @include media-tablet-lg {
    height: 600px !important;
  }
  @include media-mobile {
    height: 420px !important;
  }
}

.insights__image {
  display: block;
  width: 100%;
  height: calc(100% - 85px);
  object-fit: cover;
}

.insights__info {
  height: 85px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  text-align: left;
  color: $color-white;
  @include font($size: 3rem, $height: 3rem, $weight: 400);
  p {
    margin-bottom: 4px;
  }
  span {
    color: #8b8f94;
  }
  @include media-tablet {
    @include font($size: 2.2rem, $height: 2.2rem, $weight: 400);
  }
  @include media-mobile {
    @include font($size: 1.8rem, $height: 1.8rem, $weight: 400);
  }
}

.insights__button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 45px;
  height: 45px;
  padding: 0;
  background: $color-white;
  border-radius: 50%;
  @extend %transition;
  &:hover {
    background: $color-icon-button;
    img {
      filter: brightness(0) invert(1);
    }
  }
  img {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @include media-mobile {
    width: 25px;
    height: 25px;
    img {
      width: 7px;
      height: 7px;
    }
  }
}
