@use '../abstract/index' as *;

.new-collection {
  width: 100%;
  // height: 100%;
  height: 1000px;
  position: relative;
  overflow: hidden;
  color: $color-white;
  &::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background: rgba(5, 4, 9, 0.6);
    filter: blur(500px);
  }
}

.new-collection__background {
  // position: relative;
  // height: 105%;
  // bottom: 0;
  // object-fit: cover;
  height: 1000px;
  width: 106%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: -3%;
}

.new-collection__content {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 36px;
  padding: 50px;
}

.new-collection__header {
  display: flex;
  justify-content: space-between;
}

.new-collection__label {
  @include font($size: 2.5rem, $height: 2.5rem, $weight: 400);
  letter-spacing: -1px;
}

.new-collection__footer {
  display: flex;
  flex-direction: column;
}

.new-collection__info {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.new-collection__title {
  letter-spacing: -3px;
  @include font($size: 8rem, $height: 7.1rem, $weight: 400);
  width: 66%;
}

.new-collection__subtitle {
  @include font($size: 1.6rem, $height: 3.2rem, $weight: 400);
  padding-top: 15px;
  text-align: right;
  letter-spacing: -0.03em;
  border-top: 1px solid $color-white;
}

.new-collection__description {
  display: flex;
  flex-direction: column;
  width: 181px;
  min-width: 181px;
  margin-right: 35px;
  margin-bottom: 60px;
}

.new-collection__price {
  margin-bottom: 30px;
  text-align: right;
  @include font($size: 3.5rem, $height: 3.5rem, $weight: 400);
  letter-spacing: -1px;
}

.new-collection__logo {
  width: 130px;
  margin-left: auto;
  padding-bottom: 30px;
}

.new-collection__controls {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.new-collection__cards {
  display: flex;
  gap: 8px;
}

.new-collection__card {
  min-width: 310px;
  display: flex;
  flex-direction: column;
  letter-spacing: -1px;
  :first-child {
    @include font($size: 1.6rem, $height: 190%, $weight: 500);
  }
  :last-child {
    @include font($size: 3.5rem, $height: 3.5rem, $weight: 400);
  }
}
