@use '../abstract/index' as *;

.new-items {
  color: $color-white;
}

.new-items__header {
  display: flex;
  justify-content: space-between;
  padding: 35px 25px;
  p {
    @include font($size: 3.5rem, $height: 126%, $weight: 400);
    letter-spacing: -1px;
    @include media-tablet-lg {
      @include font($size: 3rem, $height: 126%, $weight: 400);
    }
    @include media-tablet-sm {
      @include font($size: 2rem, $height: 126%, $weight: 400);
    }
  }
}

.new-items__controls {
  display: flex;
  gap: 20px;
  @include media-tablet-lg {
    div {
      width: 37px;
      height: 37px;
      img {
        width: 11px;
        height: 11px;
      }
    }
  }
}

.new-items__swiper-wrapper {
  padding: 0 20px;
}

.new-items__swiper-slide {
  height: 750px !important;
  overflow: hidden;
  @include media-tablet-lg {
    height: 600px !important;
  }
  @include media-mobile {
    height: 420px !important;
  }
}

.new-items__image {
  display: block;
  width: 100%;
  height: calc(100% - 85px);
  object-fit: cover;
}

.new-items__info {
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 20px 30px;
  background-color: #ececec;
}

.new-items__info-title {
  @include font($size: 1.4rem, $height: 1.4rem, $weight: 500);
  color: #565656;
}

.new-items__info-subtitle {
  display: flex;
  justify-content: space-between;
  @include font($size: 1.8rem, $height: 1.8rem, $weight: 400);
  color: $color-black;
}

.new-items__button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 45px;
  height: 45px;
  padding: 0;
  background: $color-white;
  border-radius: 50%;
  @extend %transition;
  &:hover {
    background: $color-icon-button;
    img {
      filter: brightness(0) invert(1);
    }
  }
  img {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @include media-tablet-lg {
    display: none;
  }
}
