@use '../abstract/index' as *;

.breadcrumbs {
  @include font($size: 1.4rem, $height: 1.4rem, $weight: 500);
  color: $color-white;
  display: flex;
  align-items: center;
}

.breadcrumbs__link {
  text-decoration: none;

  &.breadcrumbs__link_active {
    color: #787575;
  }
}

.breadcrumbs__separator {
  color: $color-white;
  margin: 0 8px;
}
