@use '../abstract/index' as *;

.icon-button {
  width: 45px;
  height: 45px;
  padding: 0;
  background: none;
  border-radius: 4px;
  &:hover {
    background: $color-icon-button;
    img {
      filter: brightness(0) invert(1);
    }
  }
  img {
    filter: grayscale(100%) brightness(70%);
  }

  @include media-mobilesmall {
    width: 26px;
    height: 26px;
    background: $color-icon-button;
    img {
      width: 10px;
      height: 10px;
      filter: brightness(0) invert(1);
    }
  }
}

.button {
  width: 248px;
  height: 65px;
  display: flex;
  gap: 2px;
  padding: 25px;
  align-items: center;
  background: linear-gradient(93deg, #004dff 2.52%, #002e99 318.84%);
  border-radius: 15px;
  text-align: center;
  span {
    flex-grow: 1;
  }
  img {
    width: 15px;
  }
}

.button-card {
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  // background: transparent;
  backdrop-filter: blur(40px);
  background: rgba(255, 255, 255, 0.02);
  text-align: start;
  max-width: 310px;
  @include font($size: 3rem, $height: 3rem, $weight: 400);
  &:hover {
    background: #0840f4;
  }
}

.slider-button {
  width: 49px;
  height: 49px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @extend %transition;
  img {
    width: 15px;
  }

  &:hover {
    border: 1px solid #0840f4;
    background-color: #0840f4;
  }

  &-left {
    transform: rotate(180deg);
  }
}
