@use '../abstract/index' as *;

.single-news {
  padding: 150px 20px 100px 20px;
  // @include media-laptop-xl {
  //   padding: 60px 20px 80px 20px;
  // }
  // @include media-laptop-lg {
  //   padding: 50px 20px 70px 20px;
  // }
  // @include media-laptop {
  //   padding: 40px 15px 60px 15px;
  // }
  // @include media-tablet-lg {
  //   padding: 5px 0;
  // }
}

.single-news__breadcrumbs {
  margin-left: 15px;
  margin-bottom: 70px;
  @include media-tablet-lg {
    display: none;
  }
}

.single-news__title {
  color: $color-white;
  @include font($size: 7rem, $height: 7rem, $weight: 400);
  letter-spacing: -1px;
}

.single-news__text {
  color: #858585;
  @include font($size: 1.8rem, $height: 3.5rem, $weight: 500);
  letter-spacing: -1px;
}

.single-news__article-text {
  color: #858585;
  @include font($size: 3rem, $height: 5.4rem, $weight: 500);
  letter-spacing: -0.9px;
}

.single-news__image {
  border-radius: 12px;
}

.single-news__article {
  display: flex;
  flex-direction: column;
}

//SECTIONS

.single-news__section-1 {
  .single-news__article {
    margin-left: 15px;
  }
  .single-news__title {
    width: 1225px;
  }
  .single-news__text {
    width: 740px;
    margin: 40px 0 100px;
  }
  .single-news__image {
    width: 100%;
  }
}

.single-news__section-2 {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin: 200px 0 240px 0;
  .single-news__article {
    min-width: 0;
    flex: 780 1 0;
    margin: 45px 0 0 20px;
    gap: 65px;
    // margin-left: 15px;
  }
  // .single-news__title {
  //   width: 1225px;
  // }
  .single-news__text {
    width: 744px;
    // margin: 40px 0 100px;
  }
  .single-news__image {
    flex: 920 1 0;
    min-width: 0;
  }
}

.single-news__section-3 {
  width: 1020px;
  justify-self: center;
  // .single-news__article {
  //   margin-left: 15px;
  // }
  .single-news__title {
    margin-bottom: 45px;
  }
  // .single-news__text {
  //   width: 740px;
  //   margin: 40px 0 100px;
  // }
  // .single-news__image {
  //   width: 100%;
  // }
}
