@use '../abstract/index' as *;

.footer {
  margin: 0 20px;
  padding: 80px 0 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: $color-white;
}

.footer__layout {
  display: flex;
  justify-content: space-between;
}

.footer__navigation {
  width: 100%;
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: 'a b c d';
  @include media-laptop {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'a b'
      'a c'
      'a d';
  }
}

.footer__contact-us {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 85px;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__title {
  @include font($size: 2.5rem, $height: 2.5rem, $weight: 400);
  margin-bottom: 20px;
}

.footer__link {
  @include font($size: 1.8rem, $height: 2.4rem, $weight: 400);
  letter-spacing: -1px;
  color: #858585;
}

.footer__socials {
  display: flex;
  flex-direction: column;
}

.footer__contacts {
  display: flex;
  gap: 15px;
  img {
    width: 20px;
    height: 20px;
  }
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include font($size: 1.8rem, $height: 1.8rem, $weight: 700);
  :last-child {
    @include font($size: 1.4rem, $height: 2.4rem, $weight: 400);
    color: #858585;
  }
}

.footer__logos {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  div:last-child {
    width: 130px;
  }
}

.footer__logo {
  width: 130px;
  height: auto;
}

.footer__payments {
  display: flex;
  gap: 15px;
  img {
    width: 50px;
    height: auto;
  }

  img:nth-child(3) {
    width: 70px;
  }
}

.footer__s1 {
  grid-area: a;
}
.footer__s2 {
  grid-area: b;
}
.footer__s3 {
  grid-area: c;
}
.footer__s4 {
  grid-area: d;
}
